<nav class="sb-left-navbar bg-white py-3" *ngIf="menu$ | async as menuConfig">
  <div class="container-fluid">
    <section *ngFor="let menu of menuConfig">
      <h4 class="sb-left-navbar__title mt-4">{{ menu.mainTitle }}</h4>
      <ul class="sb-left-navbar__subtitle-list">
        <li class="py-2" *ngFor="let submenu of menu.subCategories">
          <a
            class="sb-left-navbar__subtitle"
            (click)="setSelectedMenu(submenu)"
            >{{ submenu.detailTitle }}</a
          >
        </li>
      </ul>
    </section>
  </div>
</nav>
