<div class="card__base-container" *ngFor="let menu of menuDetails">
  <div class="card__flex-container">
    <div class="card-img__thumb mr-2">
      <div class="card-img__relative max-width-112">
        <div class="card-img__padding-block"></div>
        <div class="card-img__absolute">
          <div class="card-img__relative height-100">
            <img
              [src]="menu.detailImg"
              [alt]="menu.detailTitle"
              class="card-img__container"
            />
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="card__item-title">{{ menu.detailTitle }}</h3>
    <a class="card-link" (click)="onClick(menu)"></a>
  </div>
</div>
