<div class="card__base-container">
  <div class="card__flex-container">
    <div class="card-img__thumb mr-2">
      <div class="card-img__relative max-width-112">
        <div class="card-img__padding-block"></div>
        <div class="card-img__absolute">
          <div class="card-img__relative height-100">
            <img
              src="https://globalassets.starbucks.com/assets/f12bc8af498d45ed92c5d6f1dac64062.jpg?impolicy=1by1_tight_288"
              alt="Hot Coffee"
              class="card-img__container"
            />
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="card__item-title">Hot Coffee</h3>
    <a class="card-link"></a>
  </div>
</div>
