<div class="col-md">
  <div class="form-floating">
    <input
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas"
      type="button"
      class="form-control"
      id="floatingInputGrid"
      value="Some text as placeholder. In real life you can have the elements you have
      chosen. Like, text, images, lists, etc."
      style="text-align: left"
    />
    <label for="floatingInputGrid">Email address</label>
  </div>
</div>

<div class="container-fluid">
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvas"
    aria-labelledby="offcanvasNavbarLabel"
  >
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <div class="bg-white sb-hamburguer-nav pt-5">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 pt-5">
            <li class="sb-offcanvas__selectors">
              <div class="offcanvas-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
            </li>
            <li class="sb-offcanvas__selectors">
              <a
                class="nav-link nav-link__offcanvas py-0"
                data-bs-dismiss="offcanvas"
                aria-current="page"
                >asd</a
              >
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>
