<nav class="navbar bg-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand cursor-pointer">
      <img class="sb-nav__logo" />
    </a>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0 sb-nav__link-container">
      <li
        [ngClass]="
          link.isActiveRoute
            ? 'nav-item sb-nav__link sb-nav__active-link'
            : 'nav-item sb-nav__link'
        "
        *ngFor="let link of links"
      >
        <a
          class="nav-link active py-2 px-2"
          aria-current="page"
          (click)="onMenuClick(link)"
          >{{ link.context | uppercase }}</a
        >
      </li>
    </ul>

    <button
      class="navbar-toggler navbar-expand-sm"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <div class="bg-white sb-hamburguer-nav pt-3">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="sb-hamburguer-nav__link" *ngFor="let link of links">
                <a
                  class="nav-link nav-link__offcanvas py-0"
                  aria-current="page"
                  (click)="onMenuClick(link)"
                  >{{ link.context }}</a
                >
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="collapse" id="navToggler">
  <div class="bg-white sb-hamburguer-nav pt-3">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="sb-hamburguer-nav__link" *ngFor="let link of links">
        <a
          class="nav-link py-0"
          aria-current="page"
          (click)="onMenuClick(link)"
          >{{ link.context }}</a
        >
      </li>
    </ul>
  </div>
</div>
<nav class="navbar fixed-top navbar-expand-sm sb-nav__container py-0">
  <div class="container-fluid">
    <a class="navbar-brand cursor-pointer">
      <img class="sb-nav__logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navToggler"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li
          [ngClass]="
            link.isActiveRoute
              ? 'nav-item sb-nav__link sb-nav__active-link'
              : 'nav-item sb-nav__link'
          "
          *ngFor="let link of links"
        >
          <a
            class="nav-link active py-2 px-2"
            aria-current="page"
            (click)="onMenuClick(link)"
            >{{ link.context | uppercase }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->
